<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div>
        <h3>Adja meg a mátrixot</h3>
        <h5>Szóközzel elválasztja adja meg a kívánt mátrixot és válasszon a lehetőségek közül egyet!</h5>

        <select title="options" class="js-matrix-options">
            <option disabled selected>Válasszon az opciók közül</option>
            <option value="determinant">Determináns</option>
            <option value="inverse">Inverz</option>
            <option value="rank">Rang</option>
            <option value="add">Összeadás</option>
            <option value="subtract">Kivonás</option>
            <option value="multiply">Szorzás</option>
        </select>
        <br/>

        <div class="js-matrix-invalid error">Hiba történt! Kérem ellenőrizze a megadott adatokat!</div>
        <div class="js-matrix-missing error">Kérem válasszon a lehetőségek közül!</div>
        <div style="display: inline-block">
            <textarea rows="10" cols="20" class="js-matrix-input-first"></textarea>
            <textarea rows="10" cols="20" class="js-matrix-input-second"></textarea>
        </div>
        <hr/>

        <div class="js-matrix-result bold">
        </div>

        <hr/>
        <button id="send">Küldés</button>
        <!--<button class="js-matrix-operations">Tovább a műveletekre</button>-->
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="application/javascript" th:src="@{/js/matrix.js}"></script>
</body>
</html>