<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${pageTitle}"></title>

</head>
<body>
<div>
    <h3>Megadott mátrix és konstans</h3>
    <div style="display: inline-flex">
        <th:block th:each="row : ${matrix.matrix}">
            <div style="padding-right: 35px;">
                <th:block th:each="col : ${row}">
                    <span style="padding-left: 8px" th:text="${col}"></span>
                </th:block>
            </div>
        </th:block>

        <span th:text="${constant}"></span>
    </div>


    <h3>Eredmény</h3>

    <th:block th:each="row : ${resultMatrix.matrix}">
        <div>
            <th:block th:each="col : ${row}">
                <span style="padding-left: 8px" th:text="${col}"></span>
            </th:block>
        </div>
    </th:block>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="application/javascript" th:src="@{/js/matrix.js}"></script>
</body>
</html>